/* GENERAL */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

body{
  margin: 30px 10%;
  font-family: 'Montserrat', sans-serif;
}

header, .jumbotron, .container, footer{
  width: 100%;
}

header, .jumbotron{
  margin-bottom: 30px;
}

a{
  text-decoration: none;
  color: gray;
}

.overlay{
  background-color: rgba(0, 0, 0, 0.25);
  height: 100%;
}

p{
  font-size: 1.17rem;
}

.jumbotron, .card{
  border-radius: 15px;
  overflow: hidden;
}

h3{
  font-weight: lighter;
}

.heart::before{
  content: '\2764';
  color: red;
}

/* HEADER */

body > header{
  height: 175px;
}

/* LOGO */

body > header > img{
  width: 12.5%;
  border-right: 1px solid lightgray;
  padding-right: 20px;
  margin-bottom: 4.5%;
}

/* NAVBAR */

nav ul{
  list-style: none;
}

nav ul li{
  display: inline-block;
  margin: 0 10px;
}

nav ul li a{
  text-transform: uppercase;
}

nav ul li a:hover{
  color: red;
}

/* JUMBOTRON */

.jumbotron{
  height: 610px;
  background-image: url('../img/banner.jpg');
  background-size: cover;
  background-position: center;
  color: white;
}

.jumbotron .text{
  padding-top: 25.725%;
  padding-left: 38px;
  width: 55%;
}

.jumbotron .title{
  font-size: 40px;
}

/* MAIN */

.container{
  padding-bottom: 30px;
  margin-bottom: 10px;
}

.container > header{
  height: 110px;
  padding-top: 15px;
}

.container > header h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.8rem;
}

.container p{
  color: gray;
}

/* ASIDE, SECTION E IMG */

.container > aside{
  width: 19%;
}

.container > section{
  float: left;
  width: 59%;
}

.left{
  float: left;
  margin-right: 1.5%;
}

.right{
  float: right;
}

/* IMMAGINI COLONNE */
.card{
  height: 289.25px;
  background-size: cover;
  background-position: center;
  margin-bottom: 15px;
}

#wallpaper1{
  background-image: url('../img/img-1.jpg');
}

#wallpaper2{
  background-image: url('../img/banner-2.jpg');
}

#wallpaper3{
  background-image: url('../img/img-3.jpg');
}

.container h3{
  margin-bottom: 15px;
}

/* FOOTER */

footer{
  height: 80px;
  padding-top: 54px;
}

footer h3{
  text-align: center;
}